@model EStore.Models.RestoreAccount
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Frontend.cshtml";
}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- breadcrumb-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                        <li aria-current="page" class="breadcrumb-item active">Tìm lại mật khẩu</li>
                    </ol>
                </nav>
            </div>

            <div class="col-lg-9" style="width:800px; margin:0 auto;">
                <div class="box">
                    @if (TempData["Success"] != null)
                    {
                        <div class="text-success">
                            <p><strong>Thành công!</strong> @TempData["Success"].ToString()</p>
                        </div>
                    }
                    <h1 style="text-align:center">Reset password </h1>
                    <p class="text-muted">Vui lòng nhập địa chỉ email vào ô bên dưới. Bạn sẽ nhận được một mật khẩu ngẫu nhiên để đăng nhập vào tài khoản.</p>
                    <form method="post" asp-controller="RestoreAccount" asp-action="Forget">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="UserEmail" type="email" placeholder="Địa chỉ email" class="form-control" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-mail-forward"></i>Gửi đi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
